<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      img { max-width: 100%; height: auto; }
    </style>
  </head>
  <body>
    <div style="text-align: center;">
      <img
        src="https://res.cloudinary.com/dax8l1qhg/image/upload/v1724707741/zmuklfx69vionrejujwy.jpg"
        alt="imprxx_logo"
      />
    </div>

    <br />

    <p>Hello, {{firstName}} {{surName}} </p>

    <p>Welcome to Carptur!</p>

    <b>Your Account Details</b>
    <p>Carptur Number :{{carpturNo}}</p>
    <p>Account Type : {{userType}} </p>

    <br />

    <p>Your journey with us begins now. Please use the OTP below to verify your
      account:
      <b>{{otpcode}} </b></p>

    <div>
      <p>
        Sincerely,
      </p>
      <b>Team Carptur</b>
    </div>

  </body>
</html>